<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信二手商城后台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" type="__IMG__/x-icon" />
    <link rel="stylesheet" href="__CSS__/font.css">
    <link rel="stylesheet" href="__CSS__/xadmin.css">
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script src="__LIB__/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__JS__/xadmin.js"></script>
    <script type="text/javascript" src="__JS__/jquery.form.js"></script>

</head>
<body>
        <div class="x-body">
            <form class="layui-form" id="form">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>管理员账号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="Admin_Name" name="Admin_Name" value="{$msg.Admin_Name}" required="" 
                        autocomplete="off" class="layui-input">
                    </div>
                    <input type="hidden" id="Admin_Id" name="Admin_Id" value="{$msg.Admin_Id}">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>管理员密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="Admin_Password" name="Admin_Password" 
                         class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" id = 'editbtn'>
                        修改
                    </button>
                </div>
            </form>
        </div>
<script>
    $('#editbtn').click(function(){
        
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"{:url('index/Admin/edit')}",
            data:$('#form').serialize(),
            success:function(data){
                if(data==1){
                    parent.location.reload();
                }else{
                    layer.msg('修改失败')
                }
            },
            error:function(){
                layer.msg('修改失败！')
            }
        })
    })
</script>
</body>
</html>